<form action = "/named-cat" method = "post">
  <label for = "name">Name:</input>
  <input type = "text" name = "name"/>

  <label for = "submit">Send</input>
  <input type = "submit" value = "Submit"/>
</form>
